.link {

    &:hover {

        svg {
            margin-left: 10px;
        }
    }

    svg {
        color: var(--primary2);
        transition: all ease-in-out 0.3s;
    }
}

.title-underlined {
    width: 200px;
    height: 0.5rem;
    background: var(--grandient3);
}

.decor-border-top {
    width: 100%;
    height: 0.5rem;
    background: var(--grandient3);
    margin-bottom: 2rem;
}