.toast-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    position: absolute;
    left: 0;
}

.toast {
    padding: 15px 25px;
    position: fixed;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
    transition: all ease 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: -0.2px;
    align-items: center;
}

.button-hover {
    &:hover {
        outline: solid 1.5px var(--primary);
        outline-offset: 3px;
        transition: all ease 0.5s;
    }
}
