.input-wrapper {
  position: relative;

  input {
    width: 100%;
    border: unset;
    border-bottom: 2px solid var(--primary2);
    padding: 5px 0;

    &:focus {
      outline: none;
    }
  }

  button {
    position: absolute;
    top: 5px;
    right: 0;
    font-weight: 600;

    &:after {
      content: '>';
      margin-left: 5px;
    }
  }
}